body {
  background-image: url("/images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.part {
  display: flex;
  width: fit-content;
  border-radius: 30px;
  margin: auto;
  margin-top: 15vh;
}
.student-photo {
  width: 400px;
  margin-right: 10px;
}
.student-photo img {
  background-color: white;
  border-radius: 50%;
  width: inherit;
  transition: border-radius 0.3s;
  box-shadow: 0 0 20px black;
}
.student-photo img:hover {
  border-radius: 30%;
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  background: transparent;
  background: transparent;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.signup-link {
  font-size: 20px;
}
.signup-link a {
  text-decoration: none;
}
