* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(134, 134, 134);
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  height: 38px;
  background-color: rgb(90, 90, 90);
  align-items: center;
  display: flex;
  flex-direction: row;
}
html {
  scroll-behavior: smooth;
}
nav .navigation {
  display: flex;
  width: 40%;
}
.navigation .activeLink {
  background-color: rgb(134, 134, 134);
  color: black;
}
.navigation a {
  width: fit-content;
  color: whitesmoke;
  padding: 4px 15px 6px 15px;
  text-decoration-line: none;
  text-align: center;
  font-size: 25px;
  background-color: rgb(90, 90, 90);
}
.navigation a:hover {
  background-color: rgb(121, 121, 121);
}
nav .buttons {
  justify-content: flex-end;
  width: 60%;
  padding-right: 20px;
}
nav button {
  width: 100px;
  height: 38px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  float: right;
  background-color: rgb(66, 101, 255);
}
nav button:hover {
  background-color: rgb(18, 61, 255);
}
nav button a:hover {
  color: black;
}
nav a {
  text-decoration: none;
  color: whitesmoke;
}
#Institute-info {
  height: 100vh;
}

#scholar {
  height: 100vh;
}
/* Home page css */
#Home{
  height: 100vh;
  padding-top: 100px;
}
.welcome-page{
  width: 70%;
  margin: auto;
  background-color: rgb(217, 217, 217);
  display: flex;
  border-radius: 70px;
  flex-direction: row;
  padding: 50px;
  align-items: center;
}
.welcome-page img{
  width: 500px;
  height: fit-content;
  mix-blend-mode: darken;
}
.welcome-text h2{
  margin-top: 15px;
}
.welcome-text{
  margin-left: 30px;
  padding-top: 40px;
}
/* about us part css */
.admission-ads {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
}
.admission-ads h1,
.admission-ads h2 {
  text-align: center;
  width: 50%;
  margin: auto;
}
.admission-ads h1 {
  font-size: 50px;
  color: rgb(33, 194, 239);
}
.admission-ads h2 {
  color: rgb(60, 245, 125);
  font-size: 40px;
}
.information {
  width: 830px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 3;
}
.standard {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
.standard h1 {
  font-size: 40px;
  color: greenyellow;
  text-align: center;
}
.standard li {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(65, 252, 96);
}
ul {
  list-style-type: none;
  margin: 10px 0px;
}

/* scholar part css */
.Scholar {
  padding-top: 10vh;
}
.Scholar h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}
#slide-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 5vh;
  align-items: center;
}
#slide-result button {
  width: 60px;
  height: 100px;
  border: none;
  border-radius: 30px;
  font-size: 40px;
  color:whitesmoke;
  background-color: rgb(77, 77, 77);
}
#slide-result button:hover{
  background-color: rgb(227, 227, 227);
  color: black;
}
.results {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: rgb(77, 77, 77);
  overflow-x: hidden;
}
.topper-card {
  min-width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
.topper-card h2{
  text-align: center;
  margin-bottom: 10px;
  color: whitesmoke;
}
.topper-card img {
  width: 100%;
  margin-bottom: 10px;
}
.topper-card table {
  margin: auto;
  color: white;
}
.topper-card table thead th{
  font-size: 18px;
}
.topper-card table tbody td{
  text-align: center;
}

/* faculty part */
.teacher-info-container {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.teacher-info {
  display: flex;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}
.teacher-info img {
  width: 300px;
}

.personal-detail table{
  color: white;
  border-radius: 20px;
  background-color: rgb(88, 88, 88);
}
.personal-detail table th{
  font-size: 20px;
  margin-top:5px;
  padding: 5px;
  width: 200px;
}
.personal-detail table td{
  font-size: 18px;
  padding: 2px;
  margin-top:5px;
  width: 250px;
}
.teacher-info:nth-child(even){
  flex-direction: row-reverse;
}
.teacher-info:nth-child(even) .personal-detail{
  margin-right: 30px;
}
.teacher-info:nth-child(odd) .personal-detail{
  margin-left: 30px;
}