* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(134, 134, 134);
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  height: 38px;
  background-color: rgb(90, 90, 90);
  align-items: center;
  display: flex;
  flex-direction: row;
}
html {
  scroll-behavior: smooth;
}
nav .navigation {
  display: flex;
  width: 40%;
}
.navigation .activeLink {
  background-color: rgb(134, 134, 134);
  color: black;
}
.navigation a {
  width: fit-content;
  color: whitesmoke;
  padding: 4px 15px 5px 15px;
  text-decoration-line: none;
  text-align: center;
  font-size: 25px;
  background-color: rgb(90, 90, 90);
}
.navigation a:hover {
  background-color: rgb(121, 121, 121);
}
nav .buttons {
  justify-content: flex-end;
  width: 60%;
  padding-right: 20px;
}
nav button {
  width: 100px;
  height: 38px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  float: right;
  background-color: rgb(66, 101, 255);
}
nav button:hover {
  background-color: rgb(18, 61, 255);
}
nav button a:hover {
  color: black;
}
nav a {
  text-decoration: none;
  color: whitesmoke;
}
#Institute-info {
  height: 100vh;
}
#faculty {
  height: 100vh;
}
#scollar {
  height: 100vh;
}
.admission-ads {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
}
.admission-ads h1,
.admission-ads h2 {
  text-align: center;
  width: 50%;
  margin: auto;
}
.admission-ads h1 {
  font-size: 50px;
  color: rgb(33, 194, 239);
}
.admission-ads h2 {
  color: rgb(60, 245, 125);
  font-size: 40px;
}
.information {
  width: 830px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 3;
}
.standard {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
.standard h1 {
  font-size: 40px;
  color: greenyellow;
  text-align: center;
}
.standard li {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(252, 65, 162);
}
ul {
  list-style-type: none;
  margin: 10px 0px;
}
.Scollar {
  padding-top: 10vh;
}
.Scollar h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}
#slide-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: auto;
  align-items: center;
}
#slide-result button {
  width: 30px;
  height: 80px;
  font-size: 40px;
}
.results {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 10px;
  overflow-x: hidden;
}
.topper-card {
  min-width: 45%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
.topper-card img {
  width: 100%;
  margin-bottom: 10px;
}
.topper-card table {
  margin: auto;
}
.teacher-info-container {
  display: flex;
  flex-direction: column;
}
.teacher-info {
  display: flex;
  width: 70%;
}
.teacher-info img {
  width: 300px;
}
