*{
    margin: 0;
    padding: 0;
}
#exam-detail{
    width: 50%;
    margin: auto;
}
.general-detail-title {
    text-align: center;
    margin: 10px 0;
    /* border: 2px solid orange; */
}
.exam-form{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 20px black;
}
.exam-form input, .exam-form select{
    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}
.exam-form label{
    display: inline-block;
    width: 130px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}
.exam-form button{
    width: 150px;
    font-size: 20px;
    height: 26px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#marks-form{
    width: 525px;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 0 0 20px black;
    padding: 20px;
    /* border: 2px solid black ; */
}
.marks-form-title{
    text-align: center;
    margin: 10px 0;
}
.student-marks-form{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
    margin-top: 15px;
    /* border: 2px solid green; */
}
.mark-field label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}
.mark-field input{
    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}
.action-btn button{
    margin-top: 10px;
    width: 130px;
    height: 30px;
    font-size: 20px;
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}