* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-image: url('/images/add-delete-update-bgimage.jpg'); */
    background-image: url('https://global.discourse-cdn.com/pocketgems/uploads/episodeinteractive/optimized/3X/b/d/bd6196d1c57ec3100505232bd451067f813283ee_2_1024x575.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
}

#exam-detail {
    width: 50%;
    margin: auto;
}

.general-detail-title {
    text-align: center;
    margin: 10px 0;
}

.exam-form {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 40px;
    background-color: white;
}

.exam-form input,
.exam-form select {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}

.exam-form label {
    display: inline-block;
    width: 130px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}

.exam-form button {
    width: 150px;
    font-size: 20px;
    height: 26px;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 47, 255);
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exam-form button:hover {
    background-color: rgb(0, 0, 181);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#marks-form {
    display: none;
    width: 580px;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
}

.marks-form-title {
    text-align: center;
    margin: 10px 0;
}

.student-marks-form {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
    margin-top: 15px;
}

.mark-field label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}

.mark-field input {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}

.action-btn button {
    margin-top: 10px;
    width: 130px;
    height: 30px;
    font-size: 20px;
}

#add-btn {
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}

#add-btn:hover {
    background-color: rgb(0, 220, 0);
}

#complete-btn {
    background-color: rgb(103, 103, 103);
    border: none;
    color: white;
    border-radius: 5px;
}

#complete-btn:hover {
    background-color: rgb(161, 161, 161);
}

.action-btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}