* {
  margin: 0;
  padding: 0;
}
#delete-box {
  width: 420px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0 0 20px black;
}
.title {
  margin: 10px 0px;
}
.title h1 {
  text-align: center;
}
.delete-form {
  width: 380px;
  margin: auto;
}
.form-field {
  margin: 5px 0;
}
.form-field input,
.form-field select {
  width: 200px;
  font-size: 20px;
}
.form-field label {
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 20px;
}
.box {
  width: inherit;
  margin: 10px 0px;
}
.delete-record input {
  width: 30px;
  height: 15px;
  margin-left: 20px;
}
.delete-record label {
  display: inline-block;
  font-size: 20px;
  width: 200px;
}
.form-field textarea {
  font-size: 20px;
}
.btn {
  display: flex;
}
ul li {
  font-size: 18px;
  margin-left: 20px;
}
.btn button {
  font-size: 20px;
  width: 150px;
  margin: auto;
}
