*{
    margin: 0;
    padding: 0;
}
.form-box{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#update-form{
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px black;
    border-radius: 20px 45px;
}
.form-field label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}
.form-field input,.form-field select{
    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}
#update-form button{
    width: 150px;
    font-size: 20px;
    height: 26px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.student-update-marks{
    width: 500px;
    margin: auto;
    margin-top: 50px;
}
#data-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 0 20px black;
    padding: 15px;
    border-radius: 20px;
}
.student-data label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 5px 15px 5px 0px;
    font-size: 20px;
}
.student-data input{
    display: inline-block;
    font-size: 20px;
    width: 200px;
    font-size: 18px;
    margin: 5px 0;
}
.presence input{
    height: 15px;
    display: inline-block;
    width: 30px;
    margin-left: 60px;
}
.presence{
    margin: 5px 0;
}
.presence label{
    font-size: 20px;
    display: inline-block;
    width: 250px;
}
.btn button{
    margin-top: 10px;
    width: 130px;
    height: 30px;
    font-size: 20px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
